.episodeItem {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 2px outset #8EA49F;
  cursor: pointer;
  transition: background .5s ease-out;

  &:hover {
    background:#8ea49f6a;
  }
}

.episodeItemColor {
  background: rgba(160, 245, 115, 0.23);
}

.id {
  height: 100%;
  margin: 10px;
}

.info {
  display: flex;
  text-align: center;
  width: 100%;
}

.titleOne {
  flex: 1 2;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;

  &:last-child {
    border-left: none;
  } 
}

.titleTwo {
  flex: 2 1;
  border-right: 1px solid #FFF;

  &:last-child {
    border-right: none;
  }
}

.titleItem {
  padding: 5px;
  border-bottom: 1px solid #FFF;
  font-size: 12px;
}

.value {
  padding: 5px;
}