.input {
  margin: 5px;
  padding: 0 10px;
  width: 100%;
  max-width: 700px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.869);
  color: white;
  border-radius: 5px;
  border: solid 1px rgb(136, 237, 145);

  transition: background 0.5s ease-out;

  &:hover {
    background-color: rgb(136, 237, 145);
    color: rgb(58, 68, 61);
  }

  &::placeholder {
    color: white;
  }

  &:hover::placeholder {
    color: rgb(58, 68, 61);
  }
}